@model IEnumerable<Visual.Models.RecetasViewModel>
<!-- banner -->
<div class="container">
    <div class="row main-banner">
        <div class="col-lg-4 col-md-5 style-banner ">
            <div class="banner-rotated">
                <h4>
                    <span> F</span>
                </h4>
                <h4>
                    <span> r</span>
                </h4>
                <h4>
                    <span> e</span>
                </h4>
                <h4>
                    <span> s</span>
                </h4>
                <h4>
                    <span> h</span>
                </h4>
            </div>
            <div class="banner-rotated">
                <h4>
                    <span> C</span>
                </h4>
                <h4>
                    <span> a</span>
                </h4>
                <h4>
                    <span> k</span>
                </h4>
                <h4>
                    <span> e</span>
                </h4>
                <h4>
                    <span> s</span>
                </h4>
            </div>
            <h5 class="mt-lg-4 mt-3">
                Delicious Cakes for Your Special Event
            </h5>
        </div>
        <div class="col-lg-8 col-md-7 banner-imgs text-center">
            <div class="row no-gutters">
                <div class="col-sm-4 banner-right-images">
                    <img src="~//images/bb2.jpg" alt="news image" class="img-fluid">
                </div>
                <div class="col-sm-4 banner-right-images">
                    <img src="/images/bb1.jpg" alt="news image" class="img-fluid ">
                </div>
                <div class="col-sm-4 banner-right-images">
                    <img src="/images/bb3.jpg" alt="news image" class="img-fluid">
                </div>
                <div class="col-sm-4 banner-right-images">
                    <img src="/images/bb5.jpg" alt="news image" class="img-fluid ">
                </div>
                <div class="col-sm-4 banner-right-images">
                    <img src="/images/bb4.jpg" alt="news image" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- //banner -->
<!-- about -->
<section class="about py-lg-4 py-md-3 py-sm-3 py-3" id="about">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 about-two-grids my-3">
                <span class="fa fa-bars mb-3" aria-hidden="true"></span>
                <h4>Recetas</h4>
                <div class="about-para-txt mt-2">
                    <p>Lorem ipsum dolor sit amet eiusmod tempor incididunt ut labore et consectetur adipiscing</p>
                </div>
                <div class="view-buttn mt-md-4 mt-3">
                    @Html.ActionLink("Recetas", "Recetas", "Home")
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 about-two-grids my-3">
                <span class="fa fa-diamond mb-3" aria-hidden="true"></span>
                <h4>Products</h4>
                <div class="about-para-txt mt-2">
                    <p>Lorem ipsum dolor sit amet eiusmod tempor incididunt ut labore et consectetur adipiscing</p>
                </div>
                <div class="view-buttn mt-md-4 mt-3">
                    @Html.ActionLink("Productos", "Productos", "Home")
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 about-two-grids my-3">
                <span class="fa fa-birthday-cake mb-3" aria-hidden="true"></span>
                <h4>Cake Classes</h4>
                <div class="about-para-txt mt-2">
                    <p>Lorem ipsum dolor sit amet eiusmod tempor incididunt ut labore et consectetur adipiscing</p>
                </div>
                <div class="view-buttn mt-md-4 mt-3">
                    <a href="single" class="btn">Read More </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 title-right-side my-3">
                <div class="rotated-title">
                    <h3 class="title mb-lg-4 mb-md-3 mb-2"> About</h3>
                    <h6 class="title-sub">who are we</h6>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- //about -->
<!-- service -->
<section class="service py-lg-4 py-md-3 py-sm-3 py-3" id="service">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <div class="row">
            <div class="col-lg-3 col-md-4 my-3">
                <div class="rotated-title">
                    <h3 class="title mb-lg-4 mb-md-3 mb-2">Service</h3>
                    <h6 class="title-sub">What We dO</h6>
                </div>
            </div>
            <div class="col-lg-9 col-md-8 service-grid-top position-relative my-3">
                <img src="/images/bb1.jpg" alt="news image" class="img-fluid">
                <div class="ser-fashion-grid ser-fashion-wthree">
                    <div class="about-icon mb-md-4 mb-3">
                        <span class="fa fa-snowflake-o" aria-hidden="true"></span>
                    </div>
                    <div class="ser-sevice-grid">
                        <h4 class="pb-3">Seasonal Pastries</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nibh urna Lorem ipsum dolor sit amet
                        </p>
                    </div>
                </div>
            </div>
        </div>
        @foreach (var item in Model)
        {
            <div class="row mt-lg-5 mt-md-4 mt-3">
                <div class="col-lg-6 blog-left-sub my-3">
                    <h4 class="pb-3">
                        @Html.ActionLink(item.nombre, "RecetaUnica", new {id=item.pkReceta})
                    </h4>
                    <p>
                        @Html.DisplayFor(modelItem => item.vTexto)
                    </p>
                    <div class="row mt-lg-4 mt-3">
                        @Html.DisplayFor(modelItem => item.Dfecha_publicacion)
                    </div>
                </div>
                <div class="col-lg-6 color-img-three my-3">
                    <img src="@Html.DisplayFor(modelItem => item.vimgurl)" alt="news image" class="img-fluid">
                </div>
            </div>
        }
    </div>
</section>
<!-- //service -->
<!-- menu -->
<section class="collection py-lg-4 py-md-3 py-sm-3 py-3">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <!--row -->
        <div class="row">
            <div class="col-lg-5 col-md-5 collection-w3layouts my-3">
                <h4>Birthday Cake</h4>
                <p class="mt-2">
                    sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, eiusmod tempor incididunt
                    ut labore et consectetur adipiscing sed do eiusmod
                </p>
                <div class="view-buttn mt-lg-5 mt-md-4 mt-3">
                    @Html.ActionLink("Productos", "Productos", "Home")
                </div>
            </div>
        </div>
        <!--// row -->
        <!-- row -->
        <div class="row mid-row-grids">
            <div class="col-lg-5 col-md-6 collective-images my-3">
                <img src="/images/bb1.jpg" alt="news image" class="img-fluid">
            </div>
            <div class="col-lg-7 col-md-6 collection-w3layouts my-3">
                <h4>Event Cake</h4>
                <p class="mt-2">
                    sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, eiusmod tempor incididunt
                    ut labore et consectetur adipiscing sed do eiusmod sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit
                    amet Lorem ipsum dolor sit amet, eiusmod tempor incididunt ut labore et consectetur adipiscing sed do eiusmod
                    sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, eiusmod tempor incididunt
                    ut labore et consectetur adipiscing sed do eiusmod
                </p>
                <div class="view-buttn mt-lg-5 mt-md-4 mt-3">
                    <a href="single" class="btn">Read More </a>
                </div>
            </div>

        </div>
        <!--// row -->
        <!-- row -->
        <div class="row">
            <div class="col-lg-6 col-md-5 collection-w3layouts my-3">
                <h4> Wedding Cake</h4>
                <p class="mt-2">
                    sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, eiusmod tempor incididunt
                    ut labore et consectetur adipiscing sed do eiusmod
                </p>
                <div class="view-buttn mt-lg-5 mt-md-4 mt-3">
                    <a href="single" class="btn">Read More </a>
                </div>
            </div>
            <div class="col-lg-3 col-md-4 collective-images my-3">
                <img src="/images/bb1.jpg" alt="news image" class="img-fluid">
            </div>
            <div class="position-top-three col-md-3 my-3">
                <img src="/images/bb3.jpg" alt="news image" class="img-fluid">
            </div>
        </div>
        <!--// row -->
    </div>
</section>
<!--//menu -->
<!-- client -->
<section class="client py-lg-4 py-md-3 py-sm-3 py-3" id="client">
    <div class="container py-lg-5 py-md-4 py-sm-4 py-3">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6 cilent-item text-center my-3">
                <div class="clients-ile-img">
                    <img src="/images/cc2.jpg" alt=" " class="img-fluid">
                    <div class="clients-color-ile text-center mt-lg-4 mt-3">
                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor sit amet
                        </p>
                        <div class="mt-3 clients-txt-ile">
                            <h4>Jack Will</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 cilent-item text-center my-3">
                <div class="clients-ile-img">
                    <img src="/images/cc1.jpg" alt=" " class="img-fluid">
                    <div class="clients-color-ile text-center mt-lg-4 mt-3">
                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor sit amet
                        </p>
                        <div class="mt-3 clients-txt-ile">
                            <h4>Sam Deo</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 cilent-item text-center my-3">
                <div class="clients-ile-img">
                    <img src="/images/cc2.jpg" alt=" " class="img-fluid">
                    <div class="clients-color-ile text-center mt-lg-4 mt-3">
                        <p>
                            Lorem ipsum dolor sit amet, consectetuer adipiscing elit Lorem ipsum dolor sit amet
                        </p>
                        <div class="mt-3 clients-txt-ile">
                            <h4>Max Rox</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 title-right-side my-3">
                <div class="rotated-title">
                    <h3 class="title mb-lg-4 mb-md-3 mb-2">Clients</h3>
                    <h6 class="title-sub">Some Words</h6>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//client -->