@model IEnumerable<Visual.Models.ArticuloViewModel>

@{
    ViewBag.Title = "Productos";
}

<h2>Productos</h2>

<div class="container">
    <table class="table">
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Cantidad
            </th>
            <th>
                Precio
            </th>
            <th>
                Descripción
            </th>
        </tr>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.ActionLink(item.nombre, "ProductoUnico", new { id = item.no_articulo })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.existencia)
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.Precio)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descrip)
                    </td>
                    <td>
                        <img src="@Html.DisplayFor(modelItem => item.Vurl)" alt="news image" class="img-fluid">
                    </td>
                    <td>
                        @Html.ActionLink("Principal", "Index")
                    </td>
                </tr>
            }
        }
    </table>
</div>
