@model IEnumerable<Visual.Models.RecetasViewModel>
<!-- short -->
<div class="using-border py-3">
    <div class="inner_breadcrumb  ml-4">
        <ul class="short_ls">
            <li>
                @Html.ActionLink("Principal", "Index", "Home")
                <span>/ /</span>
            </li>
            <li>Recetas</li>
        </ul>
    </div>
</div>
<!-- //short-->
<div class="container py-lg-5 py-md-4 py-sm-4 py-3">
    @foreach (var item in Model)
    {
        <div class="row mt-lg-5 mt-md-4 mt-3">
            <div class="col-lg-6 blog-left-sub my-3">
                <h4 class="pb-3">
                    <a href="single.html">@Html.DisplayFor(modelItem => item.nombre)</a>
                </h4>
                <p>
                    @Html.DisplayFor(modelItem => item.vTexto)
                </p>
                <div class="row mt-lg-4 mt-3">
                    @Html.DisplayFor(modelItem => item.Dfecha_publicacion)
                </div>
            </div>
            <div class="col-lg-6 color-img-three my-3">
                <img src="@Html.DisplayFor(modelItem => item.vimgurl)" alt="news image" class="img-fluid">
            </div>
        </div>
    }
</div>
